%p#notice= notice

%p
  %b Name:
  = @company.name

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path

.card
  .card-header
    %h1.card-title Company characters
  .card-body
    = render_datatable @datatable
  .card-footer
    = link_to 'New Character', new_character_path