= form_for @character do |f|
  - if @character.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character.errors.count, "error")} prohibited this character from being saved:"
      %ul
        - @character.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :alias
    = f.text_field :alias
    .field
    = f.label :based_from
    = f.text_field :based_from
  .field
    = f.label :company
    = f.collection_select :company_id, Company.all, :id, :name

  .field
    = f.label :dead
    = f.check_box :dead
  .actions
    = f.submit 'Save'
